<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}Aplikace{% endblock %}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Stack+Sans+Notch:wght@200..700&family=Stack+Sans+Text:wght@200..700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<body>

<div class="container">
    {% set current_user = get_user(request) %}
    {% set active_endpoint = request.scope['endpoint'].__name__ %}
    <nav class="top-nav">
                <div class="nav-links">
                    <!-- DASHBOARD -->
            <a
              class="nav-link{% if active_endpoint == 'dashboard_ui' %} is-active{% endif %}"
              href="{{ url_for('dashboard_ui') }}"
              title="Dashboard"
              aria-label="Dashboard"
              {% if active_endpoint == 'dashboard_ui' %}aria-current="page"{% endif %}>
                <span class="material-symbols-outlined" aria-hidden="true">dashboard</span>
            </a>
                <!-- ZAPASY -->
            <a
              class="nav-link{% if 'matches' in active_endpoint %} is-active{% endif %}"
              href="{{ url_for('matches_ui') }}"
              title="Zápasy"
              aria-label="Zápasy"
              {% if'matches' in active_endpoint %}aria-current="page"{% endif %}>
                <span class="material-symbols-outlined" aria-hidden="true">sports_soccer</span>
            </a>
                <!-- HRACI -->
             {% if current_user and (current_user.role == 'admin' or current_user.role == 'coach') %}
             <a class="nav-link {% if 'players' in active_endpoint %}is-active{% endif %}"
               href="{{ url_for('players_ui') }}"
               title="Správa hráčov"
               aria-label="Správa hráčov">
                <span class="material-symbols-outlined">group</span>
            </a>
             {% endif %}
                <!-- TRENINGY -->
             <a class="nav-link {% if 'trainings' in active_endpoint %}is-active{% endif %}"
                href="{{ url_for('trainings_ui') }}"
                 title="Trénigy"
                 arial-label="Trénigy">
                <span class="material-symbols-outlined">sprint</span>
            </a>
        </div>

        <div class="nav-footer">
            {% if current_user %}
                <a class="nav-link" href="{{ url_for('profile_ui') }}"
                    title="Profil"
                    aria-label="Profil"
                    style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: auto; padding: 10px 0">
                    <span class="material-symbols-outlined">account_circle</span>
                    {{ current_user.username }}

                </a>

                <div class="user-info" aria-hidden="false">
                    <small class="user-role"
                          style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: auto; padding: 10px 0"
                    >({{ current_user.role }})</small>
                </div>

                <form method="post" action="{{ url_for('logout') }}">
                    <button class="nav-btn" type="submit" title="Odhlásit" aria-label="Odhlásit">
                        <span class="material-symbols-outlined" aria-hidden="true">logout</span>
                    </button>
                </form>
            {% else %}
                <a class="nav-link" href="{{ url_for('login_ui') }}" title="Přihlásit" aria-label="Přihlásit">
                    <span class="material-symbols-outlined" aria-hidden="true">login</span>
                </a>
            {% endif %}
        </div>
    </nav>
    {% block content %}{% endblock %}
</div>

</body>
</html>